@define-color bg #1E1E2E;
@define-color text #CCCAC2;
@define-color tp #1E1E2E;
@define-color bg2 #CCCAC2;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Office Code Pro D Bold";
    font-size: 12px;
}

window#waybar {
    background-color: @tp;
    transition-property: background-color;
    transition-duration: .5s;
 	border: 1px solid rgba(112,122,140,1);
     border-radius: 5px;

}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    padding: 5px 5px;
    color: @text;
    

}

#workspaces button {
    border: 0px;
    margin: 0 2px;
    padding: 0 5px;
    color: @text;
    transition: all 0.5s ease-in-out;

}

#workspaces button.active {
    color: @bg;
    background-color: @bg2;
    border-radius: 5px;
}

#workspaces button:hover {
    color: @bg;
    background: @bg2;
    border-radius: 5px;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    color: @text;
    border-radius: 5px;
}

#network.ethernet {
    color: @text;
}

#network.wifi {
    color: @text;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    color: @text;
    padding: 0 10px;
    border-radius: 5px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    color: @text;
    border-radius: 5px;
   padding: 0 10px 0 0;
 
}

#battery.charging,
#battery.plugged {
    color: @text;
}


#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    color: @text;
    border-radius: 5px;

}

#pulseaudio.muted {
    color: @text;
}


