@define-color bg #000000;
@define-color gray-60 #666666;
@define-color gray-20 #cccccc;

@define-color main-fg #fff;
@define-color module-fg #fff;
@define-color main-br #000000;
@define-color hover-fg @gray-20;
@define-color hover-bg #000000;
@define-color active-fg #000000;
@define-color active-bg #fff;

@define-color bracket #cccccc;

@define-color workspaces #000000;
@define-color temperature #000000;
@define-color memory #000000;
@define-color cpu #000000;
@define-color time #000000;
@define-color date #000000;
@define-color tray #000000;
@define-color pulseaudio #000000;
@define-color backlight #000000;
@define-color battery #000000;
@define-color power #000000;

@define-color warning #ffaa00;
@define-color critical #ff4444;
@define-color charging #44ff44;

/* ───────────────────────────────────────────────────────────────┤ global ├─── */
* {
  min-height: 0;
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'JetBrainsMono NF Medium';
}

/* ──────────────────────────────────────────────────────────┤ drop shadow ├─── */
window#waybar {
  background: @bg;
  border: 0px solid rgba(112, 122, 140, 1);
}

/* ───────────────────────────────────────────────────────────┤ background ├─── */
window#waybar > box {
  background: @bg;
  margin: 2px 0;
  padding: 10px 0;
}

/* ─────────────────────────────────────────────────────────────┤ tooltips ├─── */
tooltip {
  background: @bg;
  border: 1.5px solid @main-br;
  border-radius: 8px;
}

tooltip label {
  color: @main-fg;
  margin: -1.5px 3px;
}

/* ──────────────────────────────┤ padding global unificado ├───────────────── */

#custom-theme,
#workspaces,
#window,
#custom-temperature,
#memory,
#cpu,
#idle_inhibitor,
#clock,
#custom-wifi,
#bluetooth,
#custom-update,
#mpris,
#pulseaudio,
#backlight,
#battery,
#custom-power,
#custom-ethernet,
#custom-distro,
#idle_inhibitor,
#clock.time,
#clock.date,
#custom-paddc {
  padding-left: 5px;
  padding-right: 5px;
}

#custom-left1,
#custom-left2,
#custom-left3,
#custom-left4,
#custom-left5,
#custom-left6,
#custom-left7,
#custom-left8,
#custom-leftin1,
#custom-leftin2 {
  padding-left: 1px;
}

#custom-right1,
#custom-right2,
#custom-right3,
#custom-right4,
#custom-rightin1 {
  padding-right: 1px;
}

#custom-right5 {
  padding-right: 15px;
}
/* ──────────────────────────────────────────────────────────────┤ general ├─── */
#custom-theme,
#workspaces,
#window,
#custom-temperature,
#memory,
#cpu,
#idle_inhibitor,
#clock,
#custom-wifi,
#bluetooth,
#custom-update,
#mpris,
#pulseaudio,
#backlight,
#battery,
#custom-power {
  opacity: 1;
  color: @module-fg;
}

#custom-ethernet {
  opacity: 1;
  color: @module-fg;
}

#custom-left1,
#custom-left2,
#custom-left3,
#custom-left4,
#custom-left5,
#custom-left6,
#custom-left7,
#custom-left8 {
  margin-bottom: 0;
  color: @bracket;
}

#custom-right1,
#custom-right2,
#custom-right3,
#custom-right4,
#custom-right5 {
  margin-bottom: 0;
  color: @bracket;
}

/* ───────────────────────────────────────────────────────┤ theme switcher ├─── */
#custom-theme {
  background: @bg;
}

#custom-theme:hover {
  color: @hover-fg;
}

/* ───────────────────────────────────────────────────────────┤ workspaces ├─── */
#workspaces {
  background: @workspaces;
  font-size: 14px;
  padding: 0 30px;
}

#workspaces button {
  color: @module-fg;
  border-radius: 100%;
  box-shadow: none;
  margin: 0px 5px;
  transition: none;
}

#workspaces button:hover {
  color: #cccccc;
  text-shadow: none;
  padding: 0 0;
  margin: 0px 5px;
}

#workspaces button.active {
  color: @active-fg;
  background: @active-bg;
  margin: 0px 0;
  padding: 0 8px;
}

/* ──────────────────────────────────────────────────────────┤ temperature ├─── */
#custom-temperature {
  background: @temperature;
}

#window label {
  font-size: 10px;
}

/* ───────────────────────────────────────────────────────────────┤ memory ├─── */
#memory {
  background: @memory;
}

#memory.warning {
  color: @warning;
}

#memory.critical {
  color: @critical;
}

/* ──────────────────────────────────────────────────────────────────┤ cpu ├─── */
#cpu {
  background: @cpu;
}

#custom-leftin1 {
  margin-bottom: -1px;
}

/* ──────────────────────────────────────────────────────────┤ distro icon ├─── */
#custom-distro {
  background: @bg;
  margin: 0 -1px -2px 0;
  text-shadow: 0 0 1.5px rgba(0, 0, 0, 1);
  padding: 0 0 0 5px;
}

#custom-left5 {
  background: @bg;
  text-shadow: none;
  margin-bottom: -2px;
}

#custom-right2 {
  background: @bg;
  text-shadow: none;
  margin-bottom: -2px;
}

/* ─────────────────────────────────────────────────────────────────┤ time ├─── */
#idle_inhibitor {
  background: @time;
}

#idle_inhibitor:hover {
  color: @hover-fg;
}

#clock.time {
  background: @time;
  margin-left: -2px;
  padding: 0 6px;
}

#custom-right3 {
  background: @date;
}

/* ─────────────────────────────────────────────────────────────────┤ date ├─── */
#clock.date {
  background: @date;
}

#clock.date:hover {
  color: @hover-fg;
}

/* ──────────────────────────────────────────────────────────────────┤ tray ├─── */
#custom-right4 {
  background: @tray;
}

/* ────────────────────────────────────────────────────────────────┤ wi-fi ├─── */
#custom-wifi {
  background: @tray;
}

#custom-wifi:hover {
  color: @hover-fg;
}

/* ────────────────────────────────────────────────────────────┤ ethernet ├─── */
#custom-ethernet {
  background: @tray;
}

#custom-ethernet:hover {
  color: @hover-fg;
}

/* ────────────────────────────────────────────────────────────┤ bluetooth ├─── */
#bluetooth {
  background: @tray;
}

#bluetooth:hover {
  color: @hover-fg;
}

/* ────────────────────────────────────────────────────────┤ system update ├─── */
#custom-update {
  background: @tray;
}

#custom-update:hover {
  color: @hover-fg;
}

#custom-wifi {
  padding-right: 5px;
  padding-left: 3px;
}

#bluetooth {
  padding-right: 3px;
}

#custom-update {
  padding-right: 6px;
}
/* ───────────────────────────────────────────────────────────┤ media info ├─── */
#mpris {
  background: @bg;
  font-size: 10px;
}

#mpris:hover {
  color: @hover-fg;
}

/* ────────────────────────────────────────────────────────┤ output device ├─── */
#pulseaudio {
  background: @pulseaudio;
}

#pulseaudio:hover {
  color: @hover-fg;
}

/* ───────────────────────────────────────────────────────────┤ brightness ├─── */
#backlight {
  background: @backlight;
}

/* ──────────────────────────────────────────────────────────────┤ battery ├─── */
#battery {
  color: @module-fg;
  background: @battery;
}

#battery.warning {
  color: @warning;
}

#battery.critical {
  color: @critical;
}

#battery.charging {
  color: @charging;
}

/* ─────────────────────────────────────────────────────────┤ power button ├─── */
#custom-power {
  color: @bg;
  background: @power;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 2px 4px 2px 0;
}

#custom-power:hover {
  color: @hover-fg;
  background: @hover-bg;
  text-shadow: none;
  box-shadow: none;
}

/* ───────────────────────────────────────────────────────────┤ font sizes ├─── */
tooltip label,
#window label,
#mpris {
  font-weight: bold;
}

# #custom-left1,
#custom-left2,
#custom-left3,
#custom-left4,
#custom-left5,
#custom-left6,
#custom-left7,
#custom-left8,
#custom-right1,
#custom-right2,
#custom-right3,
#custom-right4,
#custom-right5,
#custom-leftin1,
#custom-leftin2,
#custom-rightin1,
#custom-distro {
  font-size: 14px;
}

/* ───────────────────────────────────────────────────────────┤ workspaces ├─── */

/* ─────────────────────────────────────────────────────────┤ power button ├─── */
#custom-power {
  border-radius: 10px;
  padding: 0 6px 0 9px;
}

@import 'animation.css';
